<!DOCTYPE html>

<html>
<head>
<title>Albums</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="btmspace-50 center">
      <h3 class="btmspace-10">ALBUMS</h3>
      </div>
    <ul class="nospace clear services">
      <li class="one_quarter first"><a href="/BlackPanther">
        <figure><img src="static/images/demo/gallery/bpanther.png" alt="">
          <figcaption>English</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter"><a href="#">
        <figure><img src="static/images/demo/gallery/hindi.jpg" alt="">
          <figcaption>Hindi</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter"><a href="#">
        <figure><img src="static/images/demo/gallery/kannada.jpg" style="height:222px; width:222px;" alt="">
          <figcaption>Kannada</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter"><a href="#">
        <figure><img src="static/images/demo/gallery/telugu.jpg" style="height:222px; width:222px;" alt="">
          <figcaption>Telugu</figcaption>
        </figure>
        </a></li>
     
    </ul>
    
  </main>
</div>

<!-- JAVASCRIPTS -->

</body>
</html>
